@charset "utf-8";

.WB_footer {
    display: block;
    clear: both;
}

.WB_footer {
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.15);
}

.WB_footer .footer_link {
    width: 920px;
    margin: 0 auto;
    padding: 20px 0 10px 80px;
}

.WB_footer .list {
    float: left;
    display: inline;
    margin: 0 70px 0 0;
}

.WB_footer .list dt {
    font-size: 16px;
    padding: 0 0 15px;
    white-space: nowrap;
    width: 138px;
    overflow: hidden;
}

.WB_footer .list dd {
    white-space: nowrap;
}

.WB_footer .list dd a,
.WB_footer .list dd span {
    display: inline-block;
    margin: 0 20px 5px 0;
}

/*由于要兼容英文版，所以每行必须写宽和溢出隐藏*/
.WB_footer .list dd .col1 {
    width: 48px;
    overflow: hidden;
}

.WB_footer .list dd .col2 {
    width: 79px;
    overflow: hidden;
}

.WB_footer .list dd .col3 {
    width: 60px;
    overflow: hidden;
}

.WB_footer .list dd .col4 {
    width: 122px;
    overflow: hidden;
}

.WB_footer .other_link {
    text-align: center;
    padding: 20px 0 45px;
}

.WB_footer .other_link .copy {
    line-height: 1em;
    margin-bottom: 10px;
}

.WB_footer .other_link .copy a,
.WB_footer .other_link .company a {
    margin-right: 20px;
}

.WB_footer .other_link .company .copy {
    margin-right: 20px;
}

.WB_footer select {}

/*page页补丁*/
.B_page .WB_footer {}

.B_page .WB_footer .footer_link {
    width: 840px;
    margin: 0 auto;
    padding: 20px 0 10px 80px;
}

.B_page .WB_footer .list {
    float: left;
    display: inline;
    margin: 0 50px 0 0;
}

/*适配ipad端*/
@media screen and (max-width:1006px) {
    .WB_footer {}

    .WB_footer .footer_link {
        width: 720px;
        margin: 0 auto;
        padding: 20px 0 10px 30px;
    }

    .WB_footer .list {
        margin: 0 20px 0 0;
    }
}

@media screen and (max-width:939px) {
    .B_page .WB_footer {}

    .B_page .WB_footer .footer_link {
        width: 600px;
        margin: 0 auto;
        padding: 20px 0 10px 0px;
    }

    .B_page .WB_footer .list {
        width: 139px;
        overflow: hidden;
        margin: 0 11px 0 0;
    }

    .B_page .WB_footer .other_link p span {
        display: block;
    }
}

/*许可证*/
.WB_licence {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.WB_licence h2 {
    padding: 0 0 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 22px;
    line-height: 1.5;
}

.WB_licence img {
    width: 660px;
}

/*舞弊举报页面补丁*/
.WB_licence .T_info {
    padding: 38px 22px;
    padding-bottom: 20px;
}

.WB_licence .T_info .info_a {
    font-size: 14px;
    text-align: left;
    line-height: 1.8;
    letter-spacing: 1.5px;
}

.WB_licence .T_info .info_b {
    font-weight: bold;
}

.WB_licence .T_info .info_outl {
    padding-top: 40px;
}

.WB_licence .T_info .info_link {
    color: #eb7350;
}


.WB_footer .list dd .T_code {
    float: left;
    margin-right: 10px;
}

.WB_footer .list dd .T_txt {
    width: 109px;
    overflow: hidden;
    margin-right: 0px;
}

.WB_footer .other_link .lang_select {
    margin-left: 10px;
}

.WB_footer .T_server {
    margin-top: 10px;
}

.WB_footer .T_add_ser {
    padding-bottom: 20px;
}


.WB_licence .private_cont {
    padding: 0px 22px;
    padding-bottom: 20px;
}

.WB_licence .private_cont h2 {
    width: 668px;
    margin-left: -22px;
    border-color: #d9d9d9;
    font-size: 22px;
    line-height: 1.5;
    font-weight: normal;
}

.WB_licence .private_cont h3 {
    font-size: 14px;
    text-align: left;
    line-height: 1.8;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin-top: 40px;
}

.WB_licence .private_cont p {
    font-size: 14px;
    text-align: left;
    line-height: 1.8;
    letter-spacing: 1.5px;
}





#js_style_css_module_global_footer {
    height: 42px;
}