@charset "utf-8";

.iforgot_bd {
    width: 942px;
    padding-bottom: 100px;
    padding-top: 50px;
    margin: 0 auto;
}

.iforgot_bd .iforgot_header {
    position: relative;
    height: 27px;
}

.iforgot_bd .iforgot_header .logo_mod {
    width: 80px;
    height: 27px;
}

.iforgot_bd .iforgot_header .logo_mod1 {
    width: 100px;
    height: 33px;
}

.iforgot_bd .iforgot_header .name_mod {
    position: absolute;
    right: 5px;
    bottom: 0;
}

.iforgot_bd .iforgot_header .name_mod a {
    display: inline-block;
    height: 13px;
    border-right: 1px #a0a0a3 solid;
    padding-right: 10px;
    margin-right: 10px;
}

.iforgot_bd .iforgot_header .name_mod a.last {
    border: none;
    padding: 0;
    margin: 0;
}

.iforgot_cont {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border: 1px #c3c4d0 solid;
    background: #fff;
    border-top: 2px #ffa600 solid;
    border-radius: 4px;
    font: 12px/1.3 'Arial', 'Microsoft YaHei';
}

.iforgot_cont .i_top {
    padding: 30px 0;
}

.iforgot_cont .i_top .title,
.iforgot_cont .i_top .page {
    text-align: center;
}

.iforgot_cont .i_top .title {
    font-size: 22px;
}

.iforgot_cont .i_top .page {
    margin-top: 12px;
}

.iforgot_cont .i_top .process_mod {
    margin-top: 20px;
}

.iforgot_cont .i_top .process_mod .process_img {
    width: 355px;
    height: 26px;
    margin-left: 240px;
}

.iforgot_cont .i_top .process_mod .process_img_two {
    background-position: 0 -31px;
}

.iforgot_cont .i_top .process_mod .process_img_three {
    background-position: 0 -62px;
}

.iforgot_cont .i_top .process_mod .process_font {
    margin-top: 10px;
    padding-left: 218px;
}

.iforgot_cont .i_top .process_mod .process_font_two {
    padding-left: 212px;
}

.iforgot_cont .i_top .process_mod .process_font_three {
    padding-left: 226px;
}

.iforgot_cont .i_top .process_mod .process_four {
    padding-left: 195px;
}

.iforgot_cont .i_top .process_mod .process_font span {
    font-size: 14px;
}

.iforgot_cont .i_top .process_mod .process_font span.center {
    margin: 0 119px 0 100px;
}

.iforgot_cont .i_top .process_mod .process_font_two span.center {
    margin: 0 118px 0 93px;
}

.iforgot_cont .i_top .process_mod .process_font_three span.center {
    margin: 0 119px 0 106px;
}

.iforgot_cont .i_top .process_mod .process_four span.center {
    margin: 0 104px 0 67px;
}

.iforgot_cont .i_mod {
    padding: 60px 0 100px;
    border-top: 1px #f2f2f5 solid;
    background: #fafafa;
    border-radius: 0 0 4px 4px;
}

.iforgot_cont .form_mod .form_list .item {
    line-height: 35px;
    margin-bottom: 14px;
}

.iforgot_cont .form_mod .form_list .no_bottom {
    margin-bottom: 0;
}

.iforgot_cont .form_mod .form_list .no_lineheight {
    margin-bottom: 12px;
    line-height: 13px;
}

.iforgot_cont .form_mod .form_list .top {
    padding-top: 6px;
}

.iforgot_cont .form_mod .form_list .loginname {
    display: inline-block;
    width: 314px;
    margin-right: 3px;
    text-align: right;
}

.iforgot_cont .form_mod .form_list .loginname i {
    position: relative;
    top: 4px;
    margin-right: 5px;
    color: #ff8140;
}

.iforgot_cont .form_mod .form_list .WB_select,
.iforgot_cont .form_mod .form_list .W_input {
    height: 33px;
    line-height: 33px;
}

.iforgot_cont .form_mod .form_list .WB_select {
    width: 201px;
    vertical-align: middle;
    /* * height: 20px; */
    height: 20px\0;
    padding: 0;
    border-color: #ccc;
    outline: none;
}

.iforgot_cont .form_mod .form_list .W_input {
    width: 188px;
    padding-left: 10px;
}

.iforgot_cont .form_mod .form_list .W_input::-webkit-input-placeholder {
    color: #ccc !important;
}

.iforgot_cont .form_mod .form_list .W_input:-moz-placeholder {
    color: #ccc !important;
}

.iforgot_cont .form_mod .form_list .W_input::-moz-placeholder {
    color: #ccc !important;
}

.iforgot_cont .form_mod .form_list .W_input:-ms-input-placeholder {
    color: #ccc !important;
}

.iforgot_cont .form_mod .form_list .form_prompt {
    display: inline-block;
    margin-left: 10px;
}

.iforgot_cont .form_mod .form_list .form_prompt .icon_rederrorS,
.iforgot_cont .form_mod .form_list .form_prompt .icon_succ {
    position: relative;
    bottom: 1px;
    margin-right: 5px;
    vertical-align: middle;
}

.iforgot_cont .form_mod .form_list .form_prompt .icon_succ {
    margin-left: 5px;
}

.iforgot_cont .form_mod .form_list a.form_prompt {
    color: #0a8cd2;
}

.iforgot_cont .form_mod .form_list .form_prompt_page {
    padding: 10px 0 0 320px;
    line-height: 12px;
}

.iforgot_cont .form_mod .prompt_page {
    padding-top: 26px;
    text-align: center;
}

.iforgot_cont .form_mod .prompt_page a {
    color: #517daf;
}

.iforgot_cont .form_mod .form_list .code_mod .W_input {
    width: 82px;
}

.iforgot_cont .form_mod .form_list .code_mod .code_img {
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-left: 2px;
}

.iforgot_cont .form_mod .form_list .phone_code_mod .W_input {
    width: 83px;
}

.iforgot_cont .form_mod .form_list .phone_code_mod .W_btn_b {
    position: relative;
    top: 1px;
}

.iforgot_cont .form_mod .form_list .phone_mod {
    position: relative;
    /* * left: -3px; */
}

.iforgot_cont .form_mod .form_list .phone_mod .W_input {
    width: 149px;
    padding-left: 50px;
}

.iforgot_cont .form_mod .form_list .phone_mod .fore_num {
    position: absolute;
    left: 0;
    height: 35px;
    line-height: 37px;
    overflow: hidden;
    padding: 0 5px 0 10px;
    color: #ff8140;
}

.iforgot_cont .form_mod .form_list .select_mod .WB_select {
    width: 98px;
}

.iforgot_cont .form_mod .form_list .btn_mod {
    position: relative;
    padding-top: 10px;
}

.iforgot_cont .form_mod .form_list .btn_mod .W_btn_a {
    display: block;
    width: 170px;
    margin: 0 auto;
}

.iforgot_cont .form_mod .form_list .btn_mod .W_btn_b {
    display: block;
    width: 170px;
    margin: 0 auto;
}

.iforgot_cont .form_mod .form_list .btn_mod .form_prompt {
    position: absolute;
    left: 525px;
    top: 10px;
}

.iforgot_cont .form_mod .form_list .page {
    padding-bottom: 22px;
    line-height: 22px;
    text-align: center;
}

.iforgot_cont .form_mod .form_list .page a {
    color: #517daf;
}

.iforgot_cont .form_mod .form_list .page i {
    margin: 0 5px;
    color: #ff8140;
}

.iforgot_cont .form_mod .form_list .page_two {
    padding-bottom: 0;
}

.iforgot_cont .form_mod .form_list .page_two a {
    margin-left: 20px;
}

.iforgot_cont .form_mod .form_list .page .icon_succB {
    display: block;
    margin: 0 auto 10px;
}

.iforgot_cont .form_mod .form_list .no_bottom {
    padding-bottom: 0;
}

#js_style_css_iforgot_iforgot_index {
    height: 42px;
}

.pic-box {
    margin-left: 320px;
    margin-top: -35px;
    width: 200px;
    height: 100px;
}

.pic {
    margin-top: 5px;
    margin-left: 5px;
    width: 70px;
    height: 70px;
    text-align: center;

}

.picSpan {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #CCCCCC;
}

.picSpan1 {
    float: left;
    margin-left: 10px;
    width: 80px;
    height: 80px;
}

.file-style2 {
    width: 90px;
    height: 90px;
    margin-top: -2px;
    display: block;

    cursor: pointer;
    text-decoration: none;
}

.file-style2 input[type="file"] {
    opacity: 0;
    filter: Alpha(opacity=0);
    display: block;
    width: 90px;
    height: 90px;
}

.iconError {
    display: inline-block;

    width: 60px;
    height: 50px;
}

.itemError {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.itemErrorl {
    margin-top: 15px;
}

.W_btn_a:hover {
    cursor: pointer;
}

.form_listError {
    height: 170px;
}

.btnError {
    font-size: 16px;
    font-weight: 600;
}

.Div {
    display: inline-block;
    width: 800px;
    height: 100%;
}

.fore_num1 {
    position: absolute;
    display: inline;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding: 0 5px 0 10px;
    padding: 2px 5px 0 10px\9;
    color: #ff8140;
}

.fore_num2 {
    position: absolute;
    display: inline;
    height: 35px;
    margin-top: 0px;
    line-height: 35px;
    overflow: hidden;
    padding: 0 5px 0 10px;
    color: #ff8140;
}

/*FireFox*/
@-moz-document url-prefix() {
    .fore_num1 {
        position: absolute;
        display: inline;
        height: 35px;
        margin-top: -10px;
        line-height: 35px;
        overflow: hidden;
        padding: 0 5px 0 10px;
        color: #ff8140;
    }

    .fore_num2 {
        position: absolute;
        display: inline;
        height: 35px;
        margin-top: 0px;
        line-height: 35px;
        overflow: hidden;
        padding: 0 5px 0 10px;
        color: #ff8140;
    }
}

.fontInput {
    height: 33px;
    height: 33px\9;
    line-height: 33px;
    line-height: 36px\9;
    border: 1px solid #ccc;
    padding-left: 50px;
    color: #8F809F;
    width: 148px;
}

.checkCode {
    float: left;
    height: 35px;
    margin-left: 8px;
    line-height: 30px;
    margin-top: -1px;
}

.padding50 {
    padding-left: 50px;
}

.divDisplay {
    display: inline-block;
}

.fInput {
    height: 33px;
    height: 33px\9;
    line-height: 33px;
    line-height: 36px\9;
    border: 1px solid #ccc;
    padding-left: 3px;
    color: #8F809F;
}


.fl {
    float: left;
}

.w200 {
    width: 200px;
}

.margin3 {
    margin-left: 3px;
}

.w80 {
    width: 80px;
}

.w85 {
    width: 85px;
}

.w93 {
    width: 93px;
}

.footBg {
    color: #000;
}

.footBg:hover {
    color: #eb7350
}

.modifyLi {
    margin-bottom: 0;
    margin-top: 20px;
}

.modifyLi div {
    width: 160px;
    margin: 0 auto;
}

.modifyLi div input {
    float: left;
    display: inline-block;
}

.modifyLi div text {
    margin-left: 10px;
}

.marginTop_14 {
    margin-top: 14px;
}

.iforgot_cont .form_mod .form_list .page .icon_rederrorB {
    display: block;
    margin: 0 auto 10px;
}

.text_center {
    text-align: center;
}

.text_center a {
    color: #517daf;
}